* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B1416;
}

header {
  color: white;
  font-style:italic;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #030607;
  padding: 1%;
}

nav {
  display:flex;
  justify-content: left;
  background-color: #030607;
  border-bottom: 0.5px solid rgb(146, 146, 146);
  padding-bottom: 1%;
}

nav h2 {
  color: white;
}