.post-comment {
    color: white;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 85%;
    margin-left: 5%;
    border-bottom: 0.5px solid rgb(146, 146, 146);
    box-shadow: 10px 15px 20px rgb(13, 14, 14);
}

.post-comment textarea {
    background-color: #102027;
    color: white;
}

textarea::placeholder {
    color: rgb(151, 151, 151);
}

.post-comment button {
    padding: 1%;
    cursor: pointer;
}

h5 {
    font-size: 150%;
}

#comment-body {
    width: 95%;

}

#avatar-url {
    width: 10%;
    height: 10%;
}